/* App.css */

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* App Container */
#root {
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

#root:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}

/* Header Button */
button {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
  margin-top: 20px;
}

button:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  transform: scale(1.05);
  font-size: x-large;
}

/* Profile Container */
div {
  text-align: center;
  padding: 10px;
  background-color: #fcfcfc;
}

/* Image Styling */
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #6e8efb;
  margin-top: 20px;
  transition: transform 0.4s, border-color 0.3s;
}

img:hover {
  transform: rotate(10deg) scale(1.15);
  border-color: #a777e3;
}


/* Profile Text */
h2 {
  font-size: 35px;
  color: #f364a9;
  margin-top: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-size: 28px;
  background: linear-gradient(135deg, #d64406, #4a55f6); /* Gradient background */
  -webkit-background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent;;
  margin: 10px 0;
  line-height: 1.6;
}

h3 {
  font-size: 25px;
  color:#0768a4;
  font-weight: bold;
  margin-top: 5px;
}
/* Time Counter */
p:last-of-type {
  margin-top: 24px;
  font-size: 22px;
  background: linear-gradient(135deg, #09d124, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  font-style: italic;
}
